 button {
   padding: 8px;
   border-radius: 8px;
   border: 1px solid #ccc;
   cursor: pointer;
   transition: .5s ease;
   margin-bottom: 1rem;
   background: #fef5c6;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
 }

 button:hover {
   border: 1px solid #fff;
   color: #fff;
   background-color: transparent;
 }

 button:hover::after {
   content: ' ...';
 }