* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fef5c6;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 500px;
  margin: 2rem auto;
  border: 2px solid #fd65a0;
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: #fd65a0;
  box-shadow: 7px 8px 45px 0px rgba(253, 101, 160, 0.43);
  -webkit-box-shadow: 7px 8px 45px 0px rgba(253, 101, 160, 0.43);
  -moz-box-shadow: 7px 8px 45px 0px rgba(253, 101, 160, 0.43);
}

main input {
  padding: .5rem 2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 15px;
}

main button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: .5s ease;
  margin-bottom: 1rem;
  background: #fef5c6;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

main button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

main button:hover::after {
  content: ' ...';
}

main h2,
main h4 {
  margin-bottom: 2rem;
  text-align: center;
  color: #FCFCFC;
}

.projetos {
  max-height: 370px;
  overflow: overlay;
  border: 2px solid white;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.apiDiv {
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.apiDiv h5 {
  font-size: 1.5rem;
  color: white;
}

.apiDiv p {
  color: #fff;
}

.apiDiv a {
  text-decoration: none;
  color: #fef5c6;
}